name: Deploy to Amazon ECR

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  ECR_REGISTRY: ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com
  BACKEND_REPOSITORY: modo/event-api
  WEB_REPOSITORY: modo/event-web

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Required for OIDC
      contents: read # Required for actions/checkout

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2
      
    - name: Build, tag, and push Backend Image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        echo "Building backend..."
        docker build -t $ECR_REGISTRY/$BACKEND_REPOSITORY:latest ./backend
        
        echo "Pushing backend image to ECR..."
        docker push $ECR_REGISTRY/$BACKEND_REPOSITORY:latest

    - name: Build, tag, and push Web Image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        echo "Building web..."
        docker build -t $ECR_REGISTRY/$WEB_REPOSITORY:latest ./web
        
        echo "Pushing web image to ECR..."
        docker push $ECR_REGISTRY/$WEB_REPOSITORY:latest
